header {
    display: flex;
    justify-content: space-between ;    
    width: 100%;
    margin: 0%;
}

.logo {
    width: 30%;
    margin-top: 4%;
    margin-left: 4%;
}

.logo img {  
    width: 217px;
    height: 86px;  
}

.navegacion {
    margin-top: 3%;
    width: 50%;  
    display: flex;    
    justify-content: space-around;
    align-items: center;
    position: relative;   
}

.navegacion a {
    font-size: 1.3rem;   
    text-decoration: none; 
    color: var(--grayO);
    font-weight: 700;
}

.navegacion .shop {
    color: var(--brown);
    font-weight: 700;
}

.imgSearch {
    width: 25px;
    height: 25px;
}